 <!--Content Section-->
 <div id="services" class="scrollto clearfix">

  <div class="row no-padding-bottom clearfix">


      <!--Content Left Side-->
      <div class="col-3">
          <!--User Testimonial-->
          <blockquote class="testimonial text-right bigtest">
              <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore
                  et dolore magna aliqua</q>
              <footer>— John Doe, Happy Customer</footer>
          </blockquote>
          <!-- End of Testimonial-->

      </div>
      <!--End Content Left Side-->

      <!--Content of the Right Side-->
      <div class="col-3">
          <div class="section-heading">
              <h3>{{ services.tag}}</h3>
              <h2 class="section-title">{{ services.title}}</h2>
         </div>
          <p>
              {{ services.desc}}
          </p>
      </div>
      <!--End Content Right Side-->

      <div class="col-3">
          <img src="assets/images/dancer.jpg" alt="Dancer"/>
      </div>

  </div>


</div>
<!--End of Content Section-->