.paggination > li{
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.paggination>li.active{
    background-color: darkslategrey;
}
.paggination>li.disabled{
    background-color: #ddd;
    cursor: default;
}